{% extends 'core/base.html' %}

{% block title %}About | {% endblock %}

{% block content %}

  <h1>About</h1>

  <div class="container mt-3">
    <div class="mt-4 p-5 bg-light text-black rounded">
      <p>For my first Django application, I have decided to create a blog that showcases my front-end skills. This website is built with HTML, CSS, Bootstrap, Django, and Python.</p>
      <p>Thank you for viewing my project! If there's any errors, please let me know!</p>
    </div>
  </div>


{% endblock %}
